@page
@model FOKE.Pages.CommitteManagement.AddGroupModel
@{
    Layout = "_LayoutStandaloneContent";
}

@using FOKE.Localization
@inject ISharedLocalizer Localize

<form method="post" id="groupForm" autocomplete="off">
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <div class="col-12" id="response">
                @if (!string.IsNullOrEmpty(Model.pageErrorMessage))
                {
                    <div class="alert alert-dismissible fade show bg-light-danger border border-light-danger shadow-lg rounded-3 p-3 w-100 d-flex flex-column align-items-center text-center" role="alert">
                        <i class="ki-duotone ki-info-circle fs-2 text-danger me-3"></i>
                        <div class="flex-grow-1 fw-bold text-dark">
                            <strong></strong> @Model.pageErrorMessage
                        </div>
                        <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle-y me-3" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            </div>
            <input type="hidden" asp-for="inputModel.GroupId" />
            <input type="hidden" asp-for="inputModel.loggedinUserId" value="@User.FindFirst("Userid")?.Value" />

            <!-- Group Name -->
            <div class="mb-4">
                <label class="required fs-6 fw-semibold mb-2">@Localize.Localize("GROUP_NAME")</label>
                <input asp-for="inputModel.GroupName" class="form-control form-control-sm" placeholder="@Localize.Localize("ENTER_gr_name")" />
                <span asp-validation-for="inputModel.GroupName" class="text-danger"></span>
            </div>

            <!-- Committee Dropdown -->
            <div class="mb-4">
                <label class="required fs-6 fw-semibold mb-2">@Localize.Localize("COMMITTEE")</label>
                <select asp-for="inputModel.CommitteeId"
                        class="form-select form-select-sm select2"
                        asp-items='@new SelectList(Model.CommitteeList, "keyID", "name")'>
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="inputModel.CommitteeId" class="text-danger"></span>
            </div>



            <!-- Sort Order -->
            <div class="mb-4">
                <label class="fs-6 fw-semibold mb-2">@Localize.Localize("SORT_ORDER")</label>
                <input asp-for="inputModel.SortOrder" type="number" class="form-control form-control-sm" placeholder="@Localize.Localize("Enter_SORT_ORDER")" />
                <span asp-validation-for="inputModel.SortOrder" class="text-danger"></span>
            </div>
        </div>

        <div class="card-footer bg-light">
            <div class="row">
                <div class="col-6 text-start">
                    <button type="button" class="btn btn-secondary btn-flat btn-sm" id="btnClearGroup">
                        <i class="fas fa-times"></i> @Localize.Localize("BTN_CLEAR")
                    </button>
                </div>
                <div class="col-6 text-end">
                    <button type="submit" name="btnSubmit" value="btnSave" class="btn btn-primary btn-flat btn-sm btn-req-loader"><i class="far fa-save"></i> @Localize.Localize("BTN_SAVE")</button>
                    <button type="submit" name="btnSubmit" id="btnRefresh" value="btnRefresh" class="btn btn-outline-primary btn-sm d-none btn-req-loader" formnovalidate="formnovalidate">@Localize.Localize("BTN_REFRESH")</button>

                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function (e) {


            $("#btnClearGroup").click(function () {
                    $("#groupForm")[0].reset();



            });
            top.hidePageLoader();

        $('.role-code').change(function () {
            var selectedValue = $(this).val();
            $("#btnRefresh").click();
        });
        });
           console.log('IsSuccessReturn (raw):', "@Model.IsSuccessReturn", 'sucessMessage:', "@Model.sucessMessage");
           if ("@Model.IsSuccessReturn" == "True") {
            top.Swal.fire({
                icon: 'success',
                buttonsStyling: false,
                title: "@Html.Raw(@Model.sucessMessage)",
                showConfirmButton: false,
                timer: 1500
            })
            top.hidePopupWithRefresh('btnRefresh');
        }

    </script>

}

















